<%- include("partials/header") %>
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-3 text-uppercase jumbotron-h1">Your refferal link here</h1>
        <div class="mt-4">
            <p>https://sweet.tv/username</p>
            <a class="btn btn-outline-primary btn-lg text-capitalize" href="#" role="button">Copy</a>
        </div>
    </div>
</div>
<%- include("partials/footer") %>