<%- include("partials/header") %>
<div class="container">
    <div class="jumbotron">
        <hr class="bg-primary">
        <h1 class="display-4 text-center">Sweet.tv</h1>
        <hr class="bg-primary">
        <div class="mt-4 text-center">
            <h3 class="display-5">Your refferal link here</h3>
            <p>https://sweet.tv/username</p>
            <a class="btn btn-outline-primary btn-lg text-capitalize" href="#" role="button">Copy</a>
        </div>
    </div>
</div>
<%- include("partials/footer") %>