@media screen and (max-width: 992px) {
  body {
    font-size: 1rem;
  }
}

/* hr between simple notation */

.text-hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* hr between headers */

.header-hr {
  overflow: visible;
  /* For IE */
  padding: 0;
  border: none;
  border-top: medium double lightskyblue;
  color: lightskyblue;
  text-align: center;
}

.header-hr:after {
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

@media screen and (min-width: 850px) {
  .participation-interests {
    white-space: nowrap;
    word-break: keep-all;
  }
}

.no-break {
  /* white-space: nowrap; */
  overflow-wrap: normal;
  overflow-y: hidden;
  overflow-x: scroll;
}

@media screen and (max-width: 992px) {
  .show-text {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .main-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
}

@media screen and (min-width: 992px) {
  .show-text {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .main-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
}

.jumbotron {
  color: white;
  margin-top: 2em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: black;
}

@media (min-width: 576px){
  .jumbotron {
    padding: 3rem 2rem;
  }
}


@media screen and (max-width: 1200px) {
  .jumbotron-h1 {
    font-size: 2rem;
  }
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}

.card img {
  object-fit: cover;

  width: 100%;
  height: 22em;
}

.cards {
  margin-bottom: 1.5rem !important;
}

div h1 {
  font-size: 3rem;
}

#delete-form {
  display: inline;
}

footer {
  text-align: center;
}

#conference-title {
  text-align: center;
}

#list {
  text-align: center;
}

.list-group-item:active,
.list-group-item:active:focus,
.list-group-item.active:hover a {
  color: black;
}

.participantion {
  margin: 1em 1em;
  border: 1px solid #919ba4;
}

.login-form {
  width: 340px;
  margin: 50px auto;
}

.form-primary { 
  width: 60%;
  margin: 20px auto;
}

.participation-text {
  font-size: 1.25rem;
}

@media screen and (max-width: 350px) {
  .login-form {
    width: 75%;
    margin: 50px auto;
  }

  .h2,
  h2 {
    font-size: 1.2em;
  }
	
  .jumbotron div p {
	display: none;	
  }	
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .form-primary {
    width: 100%;
    margin: 20px auto;
  }

  .form-primary input::placeholder{
    font-size: 0.8rem;
  }

  .card img {
    height: 12em;
  }

  .participation-text {
    font-size: 1rem;
  }

}

.bg-lw {
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  /* padding: 30px; */
}

.participation-item div{
  background: #f7f7f7;
}